---
import { Icon } from '@astrojs/starlight/components';
import json from '../assets/json/banner/prToolBnr.json';

type PageProps = {
  imgPath: string;
  alt: string;
  title: string;
  text: string;
  textLink: string;
  btnText: string;
  btnLink: string;
};

type JsonType = Array<{ [key: string]: PageProps }>;

const jsonData: JsonType = json as JsonType;

const {page = "default"} = Astro.props;
const pageProps = jsonData[0][page];

const {imgPath, alt, title, text, textLink, btnText, btnLink} = pageProps;


---

<div class="bnr_wrapper" id="js-bnr_wrapper">
  <article class="bnr">
    <div class="brn_inner">
      <div class="bnr_thum">
        <img src={imgPath} alt={alt} />
      </div>
      <div class="bnr_body">
        <h2 class="bnr_head">{title}</h2>
        <p class="bnr_text">
          {
            textLink === "" ? 
            <span class="bnr_textLink">{text}</span> :
            <a class="bnr_textLink" href={textLink}>{text}</a>
          }
        </p>
        <div class="bnr_cta_btn_wrapper">
          <a href={btnLink} class="bnr_cta_btn">{btnText}</a>
        </div>
      </div>
      <button class="bnr_close_btn" id="js-bnr_close_btn">
        <Icon name="close" />
      </button>
    </div>
  </article>
</div>